<!DOCTYPE html>
  <h2>Estadísticas</h2>
  <table>
    <tr><td>Número de preguntas</td><td><%= statistics.Quiz_count %></td></tr>
    <tr><td>Número de comentarios totales</td><td><%= statistics.Comment_count %></td></tr>
    <tr><td>Número medio de comentarios por pregunta</td><td><%= statistics.Quiz_Comment_average %></td></tr>
    <tr><td>Número de preguntas sin comentarios</td><td><%= statistics.Quiz_without_Comment_count %></td></tr>
    <tr><td>Número de preguntas con comentarios</td><td><%= statistics.Quiz_with_Comment_count %></td></tr>
  </table>
